<mat-dialog-content class="mat-typography">
    <div class="vCode-section">
        <div class ="vCode-container">
            <h2>Carga Rapida</h2>
            <button class="btn-close" (click)="closeDialog()" mat-icon-button>
                <mat-icon >close</mat-icon>
            </button>
        </div>
        <div class ="vCode-container">
            <p> Servicios de carga rapidamente en tu puerta<br>
                , pulsa el boton para buscar <br>
                y nuestras empresas afiliadas podran responder a tu llamado</p>
        </div>
        <div class ="vCode-container">
            <button class="btn-CargaRapida" (click)="generateCargaRapida()"> Buscar Carga Rapida </button>
        </div>
    </div>
</mat-dialog-content>
