<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#page" style="color: white;">CARGA SIN ESTRÉS</a><br>
        <img src="https://github.com/LuceroObispoRios/Grupo1_SW53/blob/main/CargaSinEstres-V1/public-images/visa-icon.png?raw=true" alt="Visa" style="width: 50px">
        <img src="https://github.com/LuceroObispoRios/Grupo1_SW53/blob/main/CargaSinEstres-V1/public-images/mastercard-icon.png?raw=true" alt="Mastercard" style="width: 57px">
      </div>
      <div class="col-md-3">
        <a href="#aboutus" style="color: white;">Sobre <br> Nosotros</a>
      </div>
      <div class="col-md-3">
        <a (click)="pageClientForm()" style="color: white;">Registrar Cliente</a><br>
        <a (click)="pageCompanyForm()" style="color: white;">Registrar Empresa</a>
      </div>
      <div class="col-md-3">
        <p>Contacto: <br> +51 123-456-789</p>
        <p>Lima, Perú</p>
        <a href="https://www.facebook.com"><img src="https://raw.githubusercontent.com/LuceroObispoRios/Grupo1_SW53/main/CargaSinEstres-V1/public-images/facebook-icon.webp" alt="Facebook"></a>
        <a href="https://www.instagram.com"><img src="https://raw.githubusercontent.com/LuceroObispoRios/Grupo1_SW53/main/CargaSinEstres-V1/public-images/instagram-icon.webp" alt="Instagram"></a>
        <a href="https://www.linkedin.com"><img src="https://github.com/LuceroObispoRios/Grupo1_SW53/blob/main/CargaSinEstres-V1/public-images/linkedin-icon.png?raw=true" alt="LinkedIn"></a>
        <a href="https://www.youtube.com"><img src="https://github.com/LuceroObispoRios/Grupo1_SW53/blob/main/CargaSinEstres-V1/public-images/youtube-icon.png?raw=true" alt="YouTube"></a>
      </div>
    </div>
  </div>
</footer>
