<app-toolbar-landing></app-toolbar-landing>

<div class="landing-page">
    <div id="presentation" class="presentation">

      <br><br><br>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <br>
            <div class="presentation-box">
              <br>
              <h1 >Carga sin Estrés</h1>
              <h2>Tu traslado, nuestro compromiso</h2>
              <br>
            </div>
            <br>
          </div>
        </div>
      </div>

    </div>
    <div id="services" class="services">
      <div class="container">
        <h2 class="text-center">SERVICIO DE LA APLICACIÓN</h2>
        
        <div class="row">
          <div class="col-md-6">
            <div class="service-box">
              <div class="service-icon">
                <img src="https://raw.githubusercontent.com/LuceroObispoRios/Grupo1_SW53/main/CargaSinEstres-V1/public-images/icon1.webp" alt="Mi Imagen">
              </div>
              <h3><b>Carga Rápida</b></h3>
              <p>Descubre servicios de carga disponibles en tu zona al momento de tu mudanza.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-box">
              <div class="service-icon">
                <img src="https://github.com/LuceroObispoRios/Grupo1_SW53/blob/main/CargaSinEstres-V1/public-images/icon2.png?raw=true" alt="Ícono 2">
              </div>
              <h3><b>Reserva de Servicios</b></h3>
              <p>Planea tu mudanza junto a la empresa que solicites, y define todos los detalles desde la comodidad de tu hogar.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div id="aboutus" class="about-us">
      <div class="container">
        <h2 class="text-center">SOBRE NOSOTROS</h2>

        <div class="row">
          <div class="col-md-6">
            <img src="https://github.com/LuceroObispoRios/Grupo1_SW53/blob/main/CargaSinEstres-V1/public-images/logo1.png?raw=true" alt="Logo" class="about-us-logo">
          </div>
          <div class="col-md-6">
            <br><br>
            <div class="about-us-description">
              <h3>Descripción de la Empresa</h3>
              <p>"Somos más que una empresa de mudanzas; somos tus socios en el emocionante viaje hacia un
                nuevo capítulo de tu vida. Nuestro equipo apasionado está dedicado a brindarte un servicio
                excepcional, asegurando que cada paso de tu mudanza esté respaldado por profesionalismo,
                cuidado y confianza. Nuestra misión es superar tus expectativas, aliviarte de las preocupaciones
                y convertir cada mudanza en una experiencia positiva e inolvidable."</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div id="plans" class="plans">
      <div class="container">
        <h2 class="text-center">PLANES PARA EMPRESA</h2>
        <h1>Seleccione su tipo de membresía:</h1>

        <div class="row">
          <div class="col-md-4">
            <div class="plan-box">
              <div ><h3>1 Mes</h3></div>
              <hr>
              <br><p> Esta membresía volverá a tu empresa una destacada dentro de Carga Sin Estrés, entre otros beneficios. </p><br>
              <hr>
              <p> Precio: S/35  </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="plan-box">
              <div ><h3>3 Meses</h3></div>
              <hr>
              <br><p> Esta membresía volverá a tu empresa una destacada dentro de Carga Sin Estrés, entre otros beneficios. </p><br>
              <hr>
              <p> Precio: S/ 95 </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="plan-box">
              <div ><h3>1 Año</h3></div>
              <hr>
              <br><p> Esta membresía volverá a tu empresa una destacada dentro de Carga Sin Estrés, entre otros beneficios. </p><br>
              <hr>
              <p> Precio: S/ 365 </p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div id="testimonials" class="testimonials">
      <div class="container">
        <h2 class="text-center">TESTIMONIOS</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="testimonial-box">
              <img src="https://github.com/LuceroObispoRios/Grupo1_SW53/blob/main/CargaSinEstres-V1/public-images/testimonial1.png?raw=true" alt="Testimonio 1" class="testimonial-img">
              <p>"Estoy extremadamente impresionado con el servicio de la empresa de mudanzas. ¡Recomiendo
                encarecidamente sus servicios a cualquiera que necesite una mudanza!"<br><br>Juan Pérez</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="testimonial-box">
              <img src="https://github.com/LuceroObispoRios/Grupo1_SW53/blob/main/CargaSinEstres-V1/public-images/testimonial2.png?raw=true" alt="Testimonio 2" class="testimonial-img">
              <p>"Quiero expresar mi gratitud a la empresa de mudanzas por brindarme un servicio excelente. Si
                estás buscando una empresa confiable para tu mudanza, no busques más."<br><br>Roberto Fernández</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="testimonial-box">
              <img src="https://github.com/LuceroObispoRios/Grupo1_SW53/blob/main/CargaSinEstres-V1/public-images/testimonial3.png?raw=true" alt="Testimonio 3" class="testimonial-img">
              <p>"Nunca pensé que una mudanza podría ser tan fluida hasta que encontré esta empresa. Definitivamente
                volveré a elegirlos en el futuro y los recomendaré a mis amigos y familiares."<br><br>María González</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
