html {
	overflow-y: scroll; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #d9d9d9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position:relative;
}

.container-back {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff9f9;
    border: 2px solid #000000;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
}

.right-section {
    flex: 1;
    padding-left: 40px;
}

.input-column {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #FDAE39;
    border-radius: 5px;
}

.service-boxes{
    max-width: 80%;
    margin: auto auto 20px auto;
    display: flex;
    flex-direction: column;
}

.service-boxes .checkboxes{
    border-radius: 5px;
    border: 1px solid #FDAE39;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.description-box{
    display: flex;
    flex-direction: column;
}

.description-box label{
    margin-left: 10%;
}

.description-box #description{
    margin: auto;
    border-radius: 5px;
    border: 1px solid #FDAE39;
    width: 80%;
}

button {
    width: 180px;
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 10px;
    margin-right: 10px;
}

button:hover {
    background-color: #FDAE39;
}

.error-messages {
    color: #ff0000;
    font-weight: bold;
    margin-top: 10px;
}

.logo {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}
