
<br><br><br>
<div>
    <div class="title">
      <p align="center">Historial de Reservas</p>
    </div>
  </div>
  <div class="container responsive-grid">
    <mat-card *ngFor="let element of pageSlice" class="card-body">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="card-title">
            {{element.counter}} . Reserva {{element.bookingDate | date:'dd/MM/yyyy'}}
          </mat-card-title>
          <mat-card-subtitle>
            <div class="card-subtitle">
              <p>
                <span class="bold">Fecha mudanza : </span><span>{{element.movingDate | date:'dd/MM/yyyy'}}</span>
              </p>
              <p>
                <span class="bold">Estado de reserva : </span><span>{{element.status}}</span>
              </p>
            </div>
          </mat-card-subtitle>
          <img src="{{element.company.photo}}" alt="element.company.photo" class="logo-companies">
        </mat-card-title-group>
  
      </mat-card-header>
      <mat-card-content class="card-content">
          
          <div><span class="bold">Dirección de recojo :  </span><span>{{element.pickupAddress}}</span></div>
          <div><p><span class="bold">Dirección de entrega : </span><span>{{element.destinationAddress}}</span></p></div>
          <!------------------------------------------ Pago ------------------------------------>
          <div>
            <p><span class="bold">Pago total: </span>
              <span> S/.{{element.payment}}
              <button mat-icon-button color="primary" (click)="editItem(element)">
                <mat-icon>edit</mat-icon>
              </button>
            </span></p>
          </div>
          <ng-container *ngIf="element.isEditMode == true && userType == 'company'">
            <form (submit)="onSubmit(element)" [formGroup]="paymentForm">
              <mat-form-field>
                <input matInput placeholder="Payment" name="payment" formControlName="payment" required>
              </mat-form-field>
              <br>
              <button mat-raised-button color="primary"  type="submit">Guardar</button>&nbsp;
              <button mat-raised-button color="warn" (click)="cancelEdit(element)">Cancelar</button>
              <br><br>
            </form>
          </ng-container>
         <!------------------------------------------------------------------------------>

          <div><p><span class="bold">Empresa contratada: </span><span>{{element.company.name}}</span></p></div>
      </mat-card-content>
      <div class="btn-group">
        <div >
          <mat-dialog-actions >
            <ng-container *ngIf="element.status == 'En curso'">
              <button mat-button class="btn-chat" (click)="openDialog(element)">
                <mat-icon> chat_bubble</mat-icon>
                  Chat
              </button>
            </ng-container>
            <ng-container *ngIf="element.status == 'Finalizado' && userType === 'client'">
              <button mat-button class="btn-chat" (click)="openDialogReview(element)">
                <mat-icon> rate_review</mat-icon>
                  Review
              </button>
            </ng-container>
            <!------------------------------------Botón de Pago ------------------------------------>
            <ng-container *ngIf="element.status != 'Finalizado'">
              <button mat-button class="btn-cancel" (click)="cancelBooking(element)">
                <mat-icon>cancel</mat-icon>
                  Cancelar 
              </button>
            </ng-container>
            <!------------------------------------------------------------------------------------->
          </mat-dialog-actions>
        </div>
        <div>
        </div>
      </div>
      
    </mat-card>
    <br>
  </div>
      <mat-paginator [length]="this.elementData.length" [pageSize]="4" [pageSizeOptions]="[4, 8, 12]" 
                     (page)="onPageChange($event)"
                     aria-label="Select page of list of Bookings">
      </mat-paginator>
      <br><br><br>
